.menu-btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  
}

.menu-btn__burger {
  width: 24px; 
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger:before,
.menu-btn__burger:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger:before {
  transform: translateY(-10px);
}

.menu-btn__burger:after {
  transform: translateY(10px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-10px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger:before {
  transform: rotate(45deg) translate(5px, -5px);

}

.menu-btn.open .menu-btn__burger:after {
  transform: rotate(-45deg) translate(5px, 5px);
 
}


.sidebar {
  width: 250px;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 179, 228);
  color: #fff;
  transition: all 0.3s;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.sidebar a:visited {
  color: white;
}

.sidebar a:focus {
  color: #fff;
}

.sidebar a:hover {
  color: #fff;

  transform: scale(1.1);
}

.sidebar-header {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

.sidebar-social-links {
  padding: 10px;
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 570px;
}

ul {
  list-style-type: none;
}

// Sidebar Button Styling


