.sidebar {
  width: 250px;
  height: 93.5%;
  position: fixed;
  top: 6.5%;
  left: 0;
  background-color: rgba(27, 0, 228, 0.776);
  color: #fff;
  transition: all 0.3s;
}

ul {
  list-style-type: none;
}
